body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*global*/
.container{
	width: 90%;
	margin: auto;
	padding: 15px;
	overflow: hidden;
	/* if something goes outside of a div	*/
}
.button1{
	height: 38px;
	background: #9D2235;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff; 
}
/*nav bar*/
nav {
text-align: center;
margin: 20px 0 0 ;
padding: 10px 0;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
   display: inline-block;
   margin: 5px;
}

nav a {
  font-weight: normal;
  padding: 2px;
  font-size: 18px;
}
/*header*/
header{
	background: white;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #9D2235 3px solid;
}
/*all of the links in the header*/
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}
header #branding{
	float: left;
}
header #branding img{
	width: 300px;
	margin-left: 0px;
}
header nav{
	float: right;
	margin-top: 10px;
}
header .highlight, header .current a{
	color: #9D2235;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;
	font-weight: bold;
}
/*showcase*/
#showcase{
	min-height: 600px;
	background: url("./images/background.jpg") no-repeat 0 0;
	text-align: center;
	color: #ffffff;
}
#showcase h1{
	color: #9D2235;
	font-weight: bold;
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}
#showcase p{
	font-size: 20px;
	color: #9D2235;
	font-weight: italic;
}

.It-support-center{

	margin-left: 60px;
}

.It-office-hours{
	display: inline-block;
	position: relative;
	float: right;
	bottom: 215px;
	margin-right: 60px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #9D2235;
	text-align: center;
	position:absolute;
    bottom:0;
    width:100%;
}


